Repository chmouel/gosmee: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-markdown, lint-go, test

lint-markdown:
  name: Lint Markdown
  entry: make
  args:
  - lint-md
  language: system
  pass_filenames: false

lint-go:
  name: Lint GO
  entry: make
  args:
  - lint-go
  language: system
  pass_filenames: false

test:
  name: Unit testing
  entry: make
  args:
  - test
  language: system
  pass_filenames: false

Brew formula update for gosmee version 0.14.2
  Formula/gosmee.rb
Due: none

fix some warnings on latest golangci-lint
  main.go
Due: lint-go, test

Add fish completion
  .goreleaser.yml
  gosmee/app.go
Due: lint-go, test

add a flag to allow insecureTLSVerify
  gosmee/app.go
  gosmee/client.go
  gosmee/server.go
Due: lint-go, test

redirect to generated url on / or /new, so we can get easy integration with tkn-pac
  gosmee/server.go
Due: lint-go, test

Brew formula update for gosmee version 0.15.0
  Formula/gosmee.rb
Due: none

Update README.md
  README.md
Due: lint-markdown

Update README.md
  misc/README.md
Due: lint-markdown

fix arch packaging breaking on fish completion
  .goreleaser.yml
Due: none

Brew formula update for gosmee version 0.15.1
  Formula/gosmee.rb
Due: none

fix again install of completions in goreleaser for arch
  .goreleaser.yml
Due: none

Let user add a string to footer
  gosmee/app.go
  gosmee/server.go
  gosmee/templates/index.tmpl
Due: lint-go, test

fix linter error of latest golangci
  gosmee/client.go
Due: lint-go, test

Brew formula update for gosmee version 0.15.2
  Formula/gosmee.rb
Due: none

update link for download gosmee
  gosmee/templates/index.tmpl
Due: none

add dependabot auto merge
  .github/workflows/dependabot.yaml
Due: none

Use pull_request_target
  .github/workflows/dependabot.yaml
Due: none

update_type: all for dependabot
  .github/workflows/dependabot.yaml
Due: none

cache docker image building
  .github/workflows/build.yml
Due: none

linter fixes
  README.md
  gosmee/client.go
Due: lint-markdown, lint-go, test

another way to cache docker image
  .github/workflows/build.yml
Due: none

Let there be env variable
  .goreleaser.yml
  gosmee/app.go
  misc/gosmee-server.service
  misc/gosmee.service
Due: lint-go, test

a bit nicer webpage css
  gosmee/templates/index.tmpl
Due: none

Brew formula update for gosmee version 0.15.3
  Formula/gosmee.rb
Due: none

more phrasing shenaningang
  gosmee/templates/index.tmpl
Due: none

A few `README.md` corrections
  README.md
Due: lint-markdown

Ensure `content-type` is always `application/json`
  gosmee/client.go
Due: lint-go, test

Make sure we set the content-type
  gosmee/client.go
Due: lint-go, test

Brew formula update for gosmee version 0.16.0
  Formula/gosmee.rb
Due: none

fix html of the gosmee server page 😰
  gosmee/templates/index.tmpl
Due: none

Add event ID from `X-GitHub-Delivery` if present
  gosmee/client.go
Due: lint-go, test

remove box-sizing or the example looks broken
  gosmee/templates/index.tmpl
Due: none

Path conditions:
  lint-markdown: any of: \.(md|markdown|mdown)$, but not: (^docs/themes/hugo-book|^vendor|.*golden$|^\.vale)
  lint-go: any of: \.go$, but not: (^docs/themes/hugo-book|^vendor|.*golden$|^\.vale)
  test: any of: \.go$, but not: (^docs/themes/hugo-book|^vendor|.*golden$|^\.vale)
