Repository chmouel/gosmee: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-markdown, lint-go, test

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
default_install_hook_types: ["pre-push"]
exclude: '(^docs/themes/hugo-book|^vendor|.*golden$|^\.vale)'
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.2.0
  hooks:
  - id: check-added-large-files
  - id: check-shebang-scripts-are-executable
  - id: check-json
  - id: check-vcs-permalinks
- repo: local
  hooks:
  - id: lint-markdown
    name: "Lint Markdown"
    entry: make
    args: ["lint-md"]
    language: system
    types: [markdown]
    pass_filenames: false
  - id: lint-go
    name: "Lint GO"
    entry: make
    args: ["lint-go"]
    language: system
    types: [go]
    pass_filenames: false
  - id: test
    name: "Unit testing"
    entry: make
    args: ["test"]
    language: system
    types: [go]
    pass_filenames: false

Loop and wait for a bit until GetHookDelivery is available
  gosmee/replay.go
Due: lint-go, test

Update README.md
  README.md
Due: lint-markdown

add support for org replaying
  README.md
  gosmee/hook_list.go
  gosmee/interface.go
  gosmee/replay.go
Due: lint-markdown, lint-go, test

make fumpt and fix target for it
  Makefile
  gosmee/interface.go
  tint/buffer.go
Due: lint-go, test

Brew formula update for gosmee version v0.21.0
  Formula/gosmee.rb
Due: none

lint fix
  gosmee/replay_test.go
Due: lint-go, test

updae deps
  go.mod
  go.sum
Due: none

update deps
  go.mod
  go.sum
  vendor/github.com/cpuguy83/go-md2man/v2/md2man/roff.go
  vendor/modules.txt
Due: none

pre-commit and lint
  .pre-commit-config.yaml
  README.md
Due: lint-markdown

lint fix
  .golangci.yml
Due: none

try to fix golangcli-lint cal again
  Makefile
  go.sum
  gosmee/hook_list.go
Due: lint-go, test

debug golangci-lint for ci on github actions
  Makefile
Due: none

throw the hammer
  .errcheck.txt
  .golangci.yml
Due: none

debugging ci again
  .github/workflows/go.yml
Due: none

full version
  .github/workflows/go.yml
Due: none

this is breaking my b*********
  .github/workflows/go.yml
Due: none

Update README wih server example
  README.md
Due: lint-markdown

fix heading
  README.md
Due: lint-markdown

fix backquote
  README.md
Due: lint-markdown

fix type cp vs mkdir
  misc/README.md
Due: lint-markdown

Update README.md
  misc/README.md
Due: lint-markdown

fix linting of md
  README.md
  go.mod
  go.sum
  vendor/golang.org/x/sys/unix/mmap_nomremap.go
  vendor/golang.org/x/sys/unix/syscall_zos_s390x.go
  vendor/modules.txt
Due: lint-markdown

Update README.md w.r.t the inclusinon in nixpkgs
  README.md
Due: lint-markdown

update deps, lint errors and update
  .golangci.yml
  README.md
  go.mod
  go.sum
  vendor/modules.txt
Due: lint-markdown

add --footer-file flag
  README.md
  gosmee/flags.go
  gosmee/server.go
Due: lint-markdown, lint-go, test

Brew formula update for gosmee version v0.22.0
  Formula/gosmee.rb
Due: none

goreleaser Update deprecated folder to directory
  .goreleaser.yml
Due: none

feat(client): remove port from x-forwarded-for header
  gosmee/client.go
Due: lint-go, test

feat: Update README.md with hyperlink formatting
  README.md
Due: lint-markdown

feat: Update dependencies
  go.mod
  go.sum
  vendor/github.com/go-chi/chi/v5/context.go
  vendor/github.com/go-chi/chi/v5/middleware/compress.go
  vendor/github.com/go-chi/chi/v5/middleware/realip.go
  vendor/golang.org/x/exp/slices/sort.go
  vendor/golang.org/x/sys/unix/mkerrors.sh
  vendor/golang.org/x/sys/unix/zerrors_linux.go
  vendor/golang.org/x/sys/unix/zerrors_linux_386.go
  vendor/golang.org/x/sys/unix/zerrors_linux_amd64.go
  vendor/golang.org/x/sys/unix/zerrors_linux_arm64.go
  vendor/golang.org/x/sys/unix/ztypes_linux.go
  vendor/modules.txt
Due: none
