Repository chmouel/gosmee: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-markdown, lint-go, test

lint-markdown:
  name: Lint Markdown
  entry: make
  args:
  - lint-md
  language: system
  pass_filenames: false

lint-go:
  name: Lint GO
  entry: make
  args:
  - lint-go
  language: system
  pass_filenames: false

test:
  name: Unit testing
  entry: make
  args:
  - test
  language: system
  pass_filenames: false

feat: add live event feed UI
  .github/screenshot.png
  Makefile
  README.md
  gosmee/client.go
  gosmee/client_test.go
  gosmee/server.go
  gosmee/templates/favicon.svg
  gosmee/templates/index.tmpl
  vendor/github.com/r3labs/sse/v2/README.md
Due: lint-markdown, lint-go, test

update deps
  go.mod
  go.sum
Due: none

make vendork
  go.sum
  vendor/github.com/r3labs/sse/v2/README.md
  vendor/golang.org/x/crypto/acme/jws.go
  vendor/golang.org/x/sys/unix/syscall_darwin.go
  vendor/golang.org/x/sys/unix/syscall_linux.go
  vendor/golang.org/x/sys/unix/zsyscall_darwin_amd64.go
  vendor/golang.org/x/sys/unix/zsyscall_darwin_amd64.s
  vendor/golang.org/x/sys/unix/zsyscall_darwin_arm64.go
  vendor/golang.org/x/sys/unix/zsyscall_darwin_arm64.s
  vendor/golang.org/x/sys/windows/types_windows.go
  vendor/modules.txt
Due: none

Brew formula update for gosmee version v0.24.0
  Formula/gosmee.rb
Due: none

feat: Add /new endpoint returning URL as text
  gosmee/server.go
Due: lint-go, test

feat: Add client-server version check
  .golangci.yml
  gosmee/client.go
Due: lint-go, test

style: improve UI for event notification and waiting states
  gosmee/templates/index.tmpl
Due: none

fix: Limit channel name length to 64 characters
  gosmee/server.go
Due: lint-go, test

feat: Limit request payload size to 25MB
  README.md
  gosmee/server.go
Due: lint-markdown, lint-go, test

update pre-commit hooks
  .pre-commit-config.yaml
Due: none

docs: Add security details to README
  README.md
Due: lint-markdown

feat: Enforce client version compatibility with server
  gosmee/client.go
Due: lint-go, test

chore: Improve version handling logic add unit tests
  Makefile
  gosmee/client.go
  gosmee/version_test.go
Due: lint-go, test

feat: Add webhook signature validation
  README.md
  gosmee/flags.go
  gosmee/server.go
Due: lint-markdown, lint-go, test

feat: Restrict webhook POST requests by IP address
  README.md
  gosmee/flags.go
  gosmee/server.go
Due: lint-markdown, lint-go, test

Revert to old diagram
  .github/gosmee-diag.png
Due: none

Brew formula update for gosmee version v0.25.0
  Formula/gosmee.rb
Due: none

tone down the emojis
  README.md
Due: lint-markdown

feat: Add Kubernetes manifests health endpoints
  README.md
  gosmee/server.go
  misc/README.md
  misc/gosmee-client-deployment.yaml
  misc/gosmee-server-deployment.yaml
  misc/kubernetes-deployment.yaml
Due: lint-markdown, lint-go, test

feat: Add health endpoint for monitoring
  gosmee/app.go
  gosmee/client.go
  gosmee/flags.go
Due: lint-go, test

Brew formula update for gosmee version v0.26.0
  Formula/gosmee.rb
Due: none

fix: Configure SSE client for indefinite reconnection
  gosmee/client.go
Due: lint-go, test

feat: Add --new-url flag to fetch redirect URL (#175)
  README.md
  gosmee/app.go
  gosmee/app_test.go
  gosmee/flags.go
Due: lint-markdown, lint-go, test

Add html-coverage target to Makefile
  .gitignore
  Makefile
Due: none

move to upstream tint instead of builtin
  Makefile
  go.mod
  go.sum
  gosmee/app.go
  gosmee/client.go
  gosmee/client_test.go
  gosmee/hook_list_test.go
  gosmee/interface.go
  gosmee/replay.go
  gosmee/replay_test.go
  tint/handler.go
  vendor/github.com/lmittmann/tint/LICENSE
  vendor/github.com/lmittmann/tint/README.md
  vendor/github.com/lmittmann/tint/buffer.go
  vendor/github.com/lmittmann/tint/handler.go
  vendor/golang.org/x/exp/slog/attr.go
  vendor/golang.org/x/exp/slog/doc.go
  vendor/golang.org/x/exp/slog/handler.go
  vendor/golang.org/x/exp/slog/internal/buffer/buffer.go
  vendor/golang.org/x/exp/slog/internal/ignorepc.go
  vendor/golang.org/x/exp/slog/json_handler.go
  vendor/golang.org/x/exp/slog/level.go
  vendor/golang.org/x/exp/slog/logger.go
  vendor/golang.org/x/exp/slog/noplog.bench
  vendor/golang.org/x/exp/slog/record.go
  vendor/golang.org/x/exp/slog/text_handler.go
  vendor/golang.org/x/exp/slog/value.go
  vendor/golang.org/x/exp/slog/value_119.go
  vendor/golang.org/x/exp/slog/value_120.go
  vendor/modules.txt
Due: lint-go, test

update to latest go 1.24
  go.mod
  go.sum
  vendor/github.com/cpuguy83/go-md2man/v2/md2man/md2man.go
  vendor/github.com/cpuguy83/go-md2man/v2/md2man/roff.go
  vendor/golang.org/x/crypto/acme/acme.go
  vendor/golang.org/x/crypto/acme/autocert/listener.go
  vendor/golang.org/x/crypto/acme/http.go
  vendor/golang.org/x/crypto/acme/types.go
  vendor/golang.org/x/sys/windows/security_windows.go
  vendor/golang.org/x/sys/windows/syscall_windows.go
  vendor/golang.org/x/sys/windows/types_windows.go
  vendor/golang.org/x/sys/windows/zsyscall_windows.go
  vendor/modules.txt
Due: none

chore: Adopt Go version 1.24 for Nix package build and dev environment
  flake.nix
Due: none

Updating flake.lock with recent versions
  flake.lock
Due: none

.github/workflows: add update-flake-lock workflow
  .github/workflows/nix-auto-update.yaml
Due: none

feat: Add interactive replay viewer script
  README.md
  misc/replayview
Due: lint-markdown

Update README.md
  README.md
Due: lint-markdown

Video crop
  README.md
Due: lint-markdown

chore: Update yamllint pre-commit hook
  .pre-commit-config.yaml
Due: none

feat: Allow configuring target path for replay script
  README.md
  misc/replayview
Due: lint-markdown

Path conditions:
  lint-markdown: any of: \.(md|markdown|mdown)$, but not: (^docs/themes/hugo-book|^vendor|.*golden$|^\.vale)
  lint-go: any of: \.go$, but not: (^docs/themes/hugo-book|^vendor|.*golden$|^\.vale)
  test: any of: \.go$, but not: (^docs/themes/hugo-book|^vendor|.*golden$|^\.vale)
