Repository chmouel/gosmee: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-markdown, lint-go, test

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
default_install_hook_types: ["pre-push"]
exclude: '(^docs/themes/hugo-book|^vendor|.*golden$|^\.vale)'
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.2.0
  hooks:
  - id: check-added-large-files
  - id: check-shebang-scripts-are-executable
  - id: check-json
  - id: check-vcs-permalinks
- repo: local
  hooks:
  - id: lint-markdown
    name: "Lint Markdown"
    entry: make
    args: ["lint-md"]
    language: system
    types: [markdown]
    pass_filenames: false
  - id: lint-go
    name: "Lint GO"
    entry: make
    args: ["lint-go"]
    language: system
    types: [go]
    pass_filenames: false
  - id: test
    name: "Unit testing"
    entry: make
    args: ["test"]
    language: system
    types: [go]
    pass_filenames: false

Update README.md
  README.md
Due: lint-markdown

add brews
  .goreleaser.yml
Due: none

Brew formula update for gosmee version 0.0.2
  Formula/gosmee.rb
Due: none

don't set as prereleaser in goreleaser
  .goreleaser.yml
Due: none

go install instructions
  README.md
Due: lint-markdown

add services example
  README.md
  misc/README.md
  misc/com.chmouel.gosmee.plist
  misc/pysmee.service
Due: lint-markdown

linting markdown
  README.md
  misc/README.md
Due: lint-markdown

Brew formula update for gosmee version 0.0.3
  Formula/gosmee.rb
Due: none

Add brew to goreelaser
  .github/workflows/releaser.yaml
  .goreleaser.yml
Due: none

skip README.md update for changelog in goreleaser
  .goreleaser.yml
Due: none

add event type when saving
  gosmee.go
  gosmee_test.go
Due: lint-go, test

rename service name
  misc/gosmee.service
Due: none

fix linting
  .golangci.yml
  Makefile
  README.md
  gosmee.go
Due: lint-markdown, lint-go, test

fix timestamp test, not every tz are the 🙃
  gosmee_test.go
Due: lint-go, test

fix regexp in goreleasear changes
  .goreleaser.yml
Due: none

Brew formula update for gosmee version 0.0.4
  Formula/gosmee.rb
Due: none

add screenshot
  .github/screenshot.png
  README.md
Due: lint-markdown

remove blank line
  misc/gosmee.service
Due: none

add ignore events
  README.md
  gosmee.go
Due: lint-markdown, lint-go, test

update screenshot
  .github/screenshot.png
Due: none

pre release false in goreleaser
  .goreleaser.yml
Due: none

Brew formula update for gosmee version 0.0.5
  Formula/gosmee.rb
Due: none

don't save event with : and replace it with -
  gosmee.go
Due: lint-go, test

Brew formula update for gosmee version 0.0.6
  Formula/gosmee.rb
Due: none

add more help
  gosmee.go
Due: lint-go, test

exclude brew formula update
  .goreleaser.yml
Due: none

add -l to the script to easily switch to localhost:8080 i.e: a debugger
  gosmee.go
Due: lint-go, test
