Repository chmouel/gosmee: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-markdown, lint-go, test

lint-markdown:
  name: Lint Markdown
  entry: make
  args:
  - lint-md
  language: system
  pass_filenames: false

lint-go:
  name: Lint GO
  entry: make
  args:
  - lint-go
  language: system
  pass_filenames: false

test:
  name: Unit testing
  entry: make
  args:
  - test
  language: system
  pass_filenames: false

Refactor to call `parse()` in one place
  gosmee/client.go
Due: lint-go, test

Add timestamp to client log entries
  gosmee/client.go
Due: lint-go, test

Brew formula update for gosmee version 0.17.0
  Formula/gosmee.rb
Due: none

Update README.md
  README.md
Due: lint-markdown

Optional fix and formatting for replay template
  gosmee/templates/replay_script.tmpl.bash
Due: none

Add new line to server POST response payload
  gosmee/server.go
Due: lint-go, test

Server checks content-type header first
  gosmee/server.go
Due: lint-go, test

Marshal time stamp as string
  gosmee/client.go
  gosmee/client_test.go
  gosmee/server.go
Due: lint-go, test

Add log entries with req headers to aid debugging
  gosmee/client.go
  gosmee/client_test.go
  gosmee/server.go
Due: lint-go, test

Use 1 MB buffers to avoid silent errors
  gosmee/client.go
Due: lint-go, test

Brew formula update for gosmee version 0.18.0
  Formula/gosmee.rb
Due: none

remove depguard, since it has been buggy
  .golangci.yml
  go.mod
  go.sum
  vendor/github.com/urfave/cli/v2/help.go
  vendor/golang.org/x/sys/unix/mkall.sh
  vendor/golang.org/x/sys/unix/mkerrors.sh
  vendor/golang.org/x/sys/unix/syscall_linux.go
  vendor/golang.org/x/sys/unix/syscall_openbsd.go
  vendor/golang.org/x/sys/unix/zerrors_linux_sparc64.go
  vendor/golang.org/x/sys/unix/zsyscall_linux.go
  vendor/golang.org/x/sys/unix/zsyscall_openbsd_386.go
  vendor/golang.org/x/sys/unix/zsyscall_openbsd_386.s
  vendor/golang.org/x/sys/unix/zsyscall_openbsd_amd64.go
  vendor/golang.org/x/sys/unix/zsyscall_openbsd_amd64.s
  vendor/golang.org/x/sys/unix/zsyscall_openbsd_arm.go
  vendor/golang.org/x/sys/unix/zsyscall_openbsd_arm.s
  vendor/golang.org/x/sys/unix/zsyscall_openbsd_arm64.go
  vendor/golang.org/x/sys/unix/zsyscall_openbsd_arm64.s
  vendor/golang.org/x/sys/unix/zsyscall_openbsd_mips64.go
  vendor/golang.org/x/sys/unix/zsyscall_openbsd_mips64.s
  vendor/golang.org/x/sys/unix/zsyscall_openbsd_ppc64.go
  vendor/golang.org/x/sys/unix/zsyscall_openbsd_ppc64.s
  vendor/golang.org/x/sys/unix/zsyscall_openbsd_riscv64.go
  vendor/golang.org/x/sys/unix/zsyscall_openbsd_riscv64.s
  vendor/golang.org/x/sys/unix/ztypes_linux.go
  vendor/modules.txt
Due: none

Update dependabot.yml
  .github/dependabot.yml
Due: none

a bunch of warning fixes
  .vale/styles/RedHat/Abbreviations.yml
  .vale/styles/RedHat/CaseSensitiveTerms.yml
  .vale/styles/RedHat/Conjunctions.yml
  .vale/styles/RedHat/ConsciousLanguage.yml
  .vale/styles/RedHat/Contractions.yml
  .vale/styles/RedHat/Definitions.yml
  .vale/styles/RedHat/Ellipses.yml
  .vale/styles/RedHat/HeadingPunctuation.yml
  .vale/styles/RedHat/Headings.yml
  .vale/styles/RedHat/OxfordComma.yml
  .vale/styles/RedHat/PassiveVoice.yml
  .vale/styles/RedHat/ReleaseNotes.yml
  .vale/styles/RedHat/SentenceLength.yml
  .vale/styles/RedHat/SimpleWords.yml
  .vale/styles/RedHat/Slash.yml
  .vale/styles/RedHat/Spacing.yml
  .vale/styles/RedHat/Spelling.yml
  .vale/styles/RedHat/TermsErrors.yml
  .vale/styles/RedHat/TermsSuggestions.yml
  .vale/styles/RedHat/TermsWarnings.yml
  .vale/styles/RedHat/Usage.yml
  README.md
Due: lint-markdown

more readme phrasing update
  gosmee/templates/index.tmpl
Due: none

Fixed ERROR no headers found in message occurring every minute
  gosmee/client.go
Due: lint-go, test

Fixed ERROR no headers found in message occurring every minute
  Dockerfile
  gosmee/client.go
Due: lint-go, test

Update Dockerfile
  Dockerfile
Due: none

Fixed ERROR no headers found in message occurring every minute (#116)
  gosmee/client.go
Due: lint-go, test

update vendor/mod
  go.mod
  go.sum
  vendor/github.com/mattn/go-isatty/isatty_bsd.go
  vendor/github.com/mattn/go-isatty/isatty_others.go
  vendor/github.com/mattn/go-isatty/isatty_tcgets.go
  vendor/modules.txt
Due: none

add buildvcs flag to disable versioning
  .github/workflows/build.yml
Due: none

add buildvcs=false here
  Dockerfile
Due: none

update goreleaser migrating from outdated config
  .goreleaser.yml
Due: none

Brew formula update for gosmee version v0.19.1
  Formula/gosmee.rb
Due: none

fix homebrew package
  .goreleaser.yml
Due: none

make tidy
  go.sum
Due: none

Brew formula update for gosmee version v0.19.2
  Formula/gosmee.rb
Due: none

fix goreleaser name template
  .goreleaser.yml
Due: none

Path conditions:
  lint-markdown: any of: \.(md|markdown|mdown)$, but not: (^docs/themes/hugo-book|^vendor|.*golden$|^\.vale)
  lint-go: any of: \.go$, but not: (^docs/themes/hugo-book|^vendor|.*golden$|^\.vale)
  test: any of: \.go$, but not: (^docs/themes/hugo-book|^vendor|.*golden$|^\.vale)
