Repository chmouel/gosmee: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-markdown, lint-go, test

lint-markdown:
  name: Lint Markdown
  entry: make
  args:
  - lint-md
  language: system
  pass_filenames: false

lint-go:
  name: Lint GO
  entry: make
  args:
  - lint-go
  language: system
  pass_filenames: false

test:
  name: Unit testing
  entry: make
  args:
  - test
  language: system
  pass_filenames: false

Brew formula update for gosmee version v0.19.3
  Formula/gosmee.rb
Due: none

Update README.md
  README.md
Due: lint-markdown

update goreleaser out of deprecated fields
  .github/workflows/releaser.yaml
  .goreleaser.yml
Due: none

Brew formula update for gosmee version v0.20.0
  Formula/gosmee.rb
Due: none

fix linter
  gosmee/app.go
Due: lint-go, test

log.Fatal on errors instead of just print
  main.go
Due: lint-go, test

fix linter again and again (fml)
  README.md
  gosmee/app.go
Due: lint-markdown, lint-go, test

flake.nix: use go 1.21 for building…
  flake.lock
  flake.nix
Due: none

flake.nix: use go 1.21 for building… (#121)
  flake.lock
  flake.nix
Due: none

Back to golang 1.20 for now
  go.mod
  go.sum
  gosmee/app.go
  gosmee/client.go
  vendor/golang.org/x/exp/LICENSE
  vendor/golang.org/x/exp/PATENTS
  vendor/golang.org/x/exp/constraints/constraints.go
  vendor/golang.org/x/exp/slices/cmp.go
  vendor/golang.org/x/exp/slices/slices.go
  vendor/golang.org/x/exp/slices/sort.go
  vendor/golang.org/x/exp/slices/zsortanyfunc.go
  vendor/golang.org/x/exp/slices/zsortordered.go
  vendor/golang.org/x/exp/slog/attr.go
  vendor/golang.org/x/exp/slog/doc.go
  vendor/golang.org/x/exp/slog/handler.go
  vendor/golang.org/x/exp/slog/internal/buffer/buffer.go
  vendor/golang.org/x/exp/slog/internal/ignorepc.go
  vendor/golang.org/x/exp/slog/json_handler.go
  vendor/golang.org/x/exp/slog/level.go
  vendor/golang.org/x/exp/slog/logger.go
  vendor/golang.org/x/exp/slog/noplog.bench
  vendor/golang.org/x/exp/slog/record.go
  vendor/golang.org/x/exp/slog/text_handler.go
  vendor/golang.org/x/exp/slog/value.go
  vendor/golang.org/x/exp/slog/value_119.go
  vendor/golang.org/x/exp/slog/value_120.go
  vendor/modules.txt
Due: lint-go, test

use a fork of tint to use external slog instead of log/slog
  .golangci.yml
  go.mod
  go.sum
  gosmee/app.go
  tint/LICENSE
  tint/README.md
  tint/buffer.go
  tint/handler.go
  vendor/modules.txt
Due: lint-markdown, lint-go, test

go mod 1.20 again
  go.mod
  go.sum
Due: none

Brew formula update for gosmee version v0.20.1
  Formula/gosmee.rb
Due: none

Update dependencies
  go.mod
  go.sum
  vendor/golang.org/x/sys/unix/fcntl.go
  vendor/golang.org/x/sys/unix/ioctl_linux.go
  vendor/golang.org/x/sys/unix/mkerrors.sh
  vendor/golang.org/x/sys/unix/syscall_bsd.go
  vendor/golang.org/x/sys/unix/syscall_linux.go
  vendor/golang.org/x/sys/unix/syscall_openbsd.go
  vendor/golang.org/x/sys/unix/syscall_solaris.go
  vendor/golang.org/x/sys/unix/syscall_zos_s390x.go
  vendor/golang.org/x/sys/unix/zerrors_linux.go
  vendor/golang.org/x/sys/unix/zsyscall_linux.go
  vendor/golang.org/x/sys/unix/zsyscall_openbsd_386.go
  vendor/golang.org/x/sys/unix/zsyscall_openbsd_386.s
  vendor/golang.org/x/sys/unix/zsyscall_openbsd_amd64.go
  vendor/golang.org/x/sys/unix/zsyscall_openbsd_amd64.s
  vendor/golang.org/x/sys/unix/zsyscall_openbsd_arm.go
  vendor/golang.org/x/sys/unix/zsyscall_openbsd_arm.s
  vendor/golang.org/x/sys/unix/zsyscall_openbsd_arm64.go
  vendor/golang.org/x/sys/unix/zsyscall_openbsd_arm64.s
  vendor/golang.org/x/sys/unix/zsyscall_openbsd_mips64.go
  vendor/golang.org/x/sys/unix/zsyscall_openbsd_mips64.s
  vendor/golang.org/x/sys/unix/zsyscall_openbsd_ppc64.go
  vendor/golang.org/x/sys/unix/zsyscall_openbsd_ppc64.s
  vendor/golang.org/x/sys/unix/zsyscall_openbsd_riscv64.go
  vendor/golang.org/x/sys/unix/zsyscall_openbsd_riscv64.s
  vendor/golang.org/x/sys/unix/ztypes_linux.go
  vendor/modules.txt
Due: none

Customize the shell script a bit more
  gosmee/templates/replay_script.tmpl.bash
Due: none

Brew formula update for gosmee version v0.20.2
  Formula/gosmee.rb
Due: none

Fix default URL
  gosmee/templates/replay_script.tmpl.bash
Due: none

update deps
  go.mod
  go.sum
  vendor/github.com/urfave/cli/v2/.gitignore
  vendor/github.com/urfave/cli/v2/app.go
  vendor/github.com/urfave/cli/v2/category.go
  vendor/github.com/urfave/cli/v2/command.go
  vendor/github.com/urfave/cli/v2/flag_bool.go
  vendor/github.com/urfave/cli/v2/flag_duration.go
  vendor/github.com/urfave/cli/v2/flag_float64.go
  vendor/github.com/urfave/cli/v2/flag_generic.go
  vendor/github.com/urfave/cli/v2/flag_int.go
  vendor/github.com/urfave/cli/v2/flag_int64.go
  vendor/github.com/urfave/cli/v2/flag_path.go
  vendor/github.com/urfave/cli/v2/flag_string.go
  vendor/github.com/urfave/cli/v2/flag_timestamp.go
  vendor/github.com/urfave/cli/v2/flag_uint.go
  vendor/github.com/urfave/cli/v2/flag_uint64.go
  vendor/github.com/urfave/cli/v2/help.go
  vendor/github.com/urfave/cli/v2/mkdocs-reqs.txt
  vendor/github.com/urfave/cli/v2/mkdocs.yml
  vendor/github.com/urfave/cli/v2/suggestions.go
  vendor/github.com/urfave/cli/v2/zz_generated.flags.go
  vendor/github.com/xrash/smetrics/soundex.go
  vendor/modules.txt
Due: none

more linter rules
  .errcheck.txt
  .golangci.yml
  .markdownlint.json
  Makefile
  gosmee/random.go
Due: lint-go, test

remove cache cursor and use just the time
  gosmee/flags.go
  gosmee/replay.go
  gosmee/replay_test.go
Due: lint-go, test

lint and fixes and remove dead code
  gosmee/flags.go
  gosmee/replay.go
  gosmee/replay_test.go
Due: lint-go, test

Add list-deliveries command
  gosmee/flags.go
  gosmee/hook_list.go
  gosmee/replay.go
Due: lint-go, test

Loop and wait for a bit until GetHookDelivery is available
  gosmee/replay.go
Due: lint-go, test

add saveData to replay
  gosmee/client.go
  gosmee/replay.go
Due: lint-go, test

Add Documentation for relayer
  README.md
Due: lint-markdown

update diagram
  .github/gosmee-diag.jpg
  .github/gosmee-diag.png
  README.md
Due: lint-markdown

back to png
  .github/gosmee-diag.png
  README.md
Due: lint-markdown

Diagram update
  .github/gosmee-diag.png
Due: none

add drawio here
  .github/gosmee.drawio
Due: none

update diragram
  .github/gosmee-diag.jpg
  .github/gosmee-diag.png
Due: none

Path conditions:
  lint-markdown: any of: \.(md|markdown|mdown)$, but not: (^docs/themes/hugo-book|^vendor|.*golden$|^\.vale)
  lint-go: any of: \.go$, but not: (^docs/themes/hugo-book|^vendor|.*golden$|^\.vale)
  test: any of: \.go$, but not: (^docs/themes/hugo-book|^vendor|.*golden$|^\.vale)
