Repository chmouel/gosmee: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-markdown, lint-go, test

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
default_install_hook_types: ["pre-push"]
exclude: '(^docs/themes/hugo-book|^vendor|.*golden$|^\.vale)'
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.2.0
  hooks:
  - id: check-added-large-files
  - id: check-shebang-scripts-are-executable
  - id: check-json
  - id: check-vcs-permalinks
- repo: local
  hooks:
  - id: lint-markdown
    name: "Lint Markdown"
    entry: make
    args: ["lint-md"]
    language: system
    types: [markdown]
    pass_filenames: false
  - id: lint-go
    name: "Lint GO"
    entry: make
    args: ["lint-go"]
    language: system
    types: [go]
    pass_filenames: false
  - id: test
    name: "Unit testing"
    entry: make
    args: ["test"]
    language: system
    types: [go]
    pass_filenames: false

add tar to the container, so we can do kubectl cp easily
  Dockerfile
Due: none

use relative path to shell script for finding json
  gosmee.go
  misc/replay_script.tmpl.bash
Due: lint-go, test

use arkade to setup golangci
  .github/workflows/go.yml
Due: none

yamllint pre-commit
  .pre-commit-config.yaml
Due: none

readme update
  README.md
Due: lint-markdown

make sure pm_events gets sanitized since written and used on disk and may be abused
  gosmee/client.go
Due: lint-go, test

add public URL
  Makefile
  gosmee/app.go
  gosmee/client.go
  gosmee/server.go
Due: lint-go, test

Use 12 characters for channels, like smee.io
  gosmee/server.go
Due: lint-go, test

Fix compilation
  Makefile
Due: none

Don't use user-agent for detection
  gosmee/server.go
Due: lint-go, test

add simple index page
  gosmee/app.go
  gosmee/client.go
  gosmee/server.go
  gosmee/templates/index.tmpl
Due: lint-go, test

Print the full url and use fprintf when showing the tip on the chan
  gosmee/server.go
Due: lint-go, test

Brew formula update for gosmee version 0.14.0
  Formula/gosmee.rb
Due: none

Use 12 characters
  README.md
Due: lint-markdown

Fix services example to use "client"
  misc/com.chmouel.gosmee.plist
  misc/gosmee.service
Due: none

add version in footer of index.html
  gosmee/server.go
  gosmee/templates/index.tmpl
Due: lint-go, test

Add a nix packages with flake support.
  .github/workflows/nix.yml
  .gitignore
  default.nix
  flake.lock
  flake.nix
Due: none

.github/workflows: update go version to 1.19
  .github/workflows/go.yml
Due: none

.github/workflows: fix nix indentation :)
  .github/workflows/nix.yml
Due: none

README.md: add a Nix/NixOS instruction
  README.md
Due: lint-markdown

flake.nix: add yamllint to the required packages for the shell
  flake.nix
Due: none

add yamllint
  .yamllint
Due: none

.github/workflows: use go-version-file for the go workflow…
  .github/workflows/go.yml
Due: none

dependabot: update github actions weekly
  .github/dependabot.yml
Due: none

flake.nix: disable overlays for now
  flake.nix
Due: none

fix container build 😅
  Dockerfile
  gosmee/client.go
  gosmee/server.go
Due: lint-go, test

Properly define timeout
  README.md
  gosmee/app.go
  gosmee/client.go
Due: lint-markdown, lint-go, test

Brew formula update for gosmee version 0.14.1
  Formula/gosmee.rb
Due: none

Update README.md
  README.md
Due: lint-markdown

add label to dependabot
  .github/dependabot.yml
Due: none

author
  README.md
Due: lint-markdown

make it daily
  .github/dependabot.yml
Due: none

lint
  .github/dependabot.yml
Due: none

add diagram
  .github/gosmee-diag.png
  README.md
Due: lint-markdown

update templates for script
  gosmee/templates/replay_script.tmpl.bash
Due: none

update indirect in go.mod
  go.mod
  go.sum
Due: none

tweaking font and all
  gosmee/templates/index.tmpl
Due: none

forgot the go mod vendor 🤦
  go.sum
  vendor/golang.org/x/sys/unix/sockcmsg_unix.go
  vendor/golang.org/x/sys/unix/syscall_linux.go
  vendor/modules.txt
Due: none
