Repository chmouel/gosmee: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-markdown, lint-go, test

lint-markdown:
  name: Lint Markdown
  entry: make
  args:
  - lint-md
  language: system
  pass_filenames: false

lint-go:
  name: Lint GO
  entry: make
  args:
  - lint-go
  language: system
  pass_filenames: false

test:
  name: Unit testing
  entry: make
  args:
  - test
  language: system
  pass_filenames: false

add completions
  .goreleaser.yml
  .pre-commit-config.yaml
  Makefile
  README.md
  gosmee.go
  misc/bash_completion.bash
  misc/zsh_completion.zsh
Due: lint-markdown, lint-go, test

use a template for shell script
  gosmee.go
  misc/replay_script.tmpl.bash
Due: lint-go, test

Brew formula update for gosmee version 0.0.7
  Formula/gosmee.rb
Due: none

sign with sbom
  .goreleaser.yml
Due: none

remove sbom
  .goreleaser.yml
Due: none

try to add version to goreleaseR
  .goreleaser.yml
  Makefile
  gosmee.go
Due: lint-go, test

try to add version to goreleaseR
  .goreleaser.yml
  Makefile
  gosmee.go
  misc/version
Due: lint-go, test

Brew formula update for gosmee version 0.0.8
  Formula/gosmee.rb
Due: none

don't print version with a newline
  .goreleaser.yml
Due: none

fix warning
  .goreleaser.yml
Due: none

add more helpful help
  gosmee.go
Due: lint-go, test

replace space in payload name
  gosmee.go
Due: lint-go, test

Brew formula update for gosmee version 0.0.9
  Formula/gosmee.rb
Due: none

if we marshall and indent payload the it fails
  gosmee.go
Due: lint-go, test

Brew formula update for gosmee version 0.0.10
  Formula/gosmee.rb
Due: none

Update README.md
  README.md
Due: lint-markdown

fix versioning
  Makefile
  gosmee.go
Due: lint-go, test

Brew formula update for gosmee version 0.0.11
  Formula/gosmee.rb
Due: none

Create dependabot.yml
  .github/dependabot.yml
Due: none

Update dependabot.yml
  .github/dependabot.yml
Due: none

update goyaml
  go.mod
  go.sum
Due: none

update vendor
  go.sum
  vendor/modules.txt
Due: none

support s390x arch.
  Dockerfile
  README.md
Due: lint-markdown

install rsync in docker image for easy rsync
  Dockerfile
Due: none

Fix dockerfile
  Dockerfile
Due: none

Add s390x/ppc64le support
  .goreleaser.yml
Due: none

raise timeout and make it configurable 🎛️
  gosmee.go
Due: lint-go, test

use Version for goreleaser
  .goreleaser.yml
Due: none

Brew formula update for gosmee version 0.0.12
  Formula/gosmee.rb
Due: none

Add multi-arch support
  .github/workflows/build.yml
  .goreleaser.yml
  Dockerfile
  Makefile
Due: none

add linux/arm64
  .github/workflows/build.yml
Due: none

build as user
  Dockerfile
Due: none

fix microdnf install, since we updated to ubi9
  Dockerfile
Due: none

Readme formatting
  README.md
Due: lint-markdown

use latest golang
  Dockerfile
Due: none

go mod vendor/tiday
  go.mod
Due: none

remove namespace from example
  README.md
Due: lint-markdown

Path conditions:
  lint-markdown: any of: \.(md|markdown|mdown)$, but not: (^docs/themes/hugo-book|^vendor|.*golden$|^\.vale)
  lint-go: any of: \.go$, but not: (^docs/themes/hugo-book|^vendor|.*golden$|^\.vale)
  test: any of: \.go$, but not: (^docs/themes/hugo-book|^vendor|.*golden$|^\.vale)
